Dream-To-Delay

In [10]:
import pandas as pd
homevalue2011 = pd.read_csv("data/Value and Purchase Price/2011 Value and Purchase.csv")
homevalue2013 = pd.read_csv("data/Value and Purchase Price/2013 Value and Purchase.csv")
homevalue2015 = pd.read_csv("data/Value and Purchase Price/2015 Value and Purchase.csv")
homevalue2017 = pd.read_csv("data/Value and Purchase Price/2017 Value and Purchase.csv")
homevalue2019 = pd.read_csv("data/Value and Purchase Price/2019 Value and Purchase.csv")
homevalue2021 = pd.read_csv("data/Value and Purchase Price/2021 Value and Purchase.csv")
homevalue2023 = pd.read_csv("data/Value and Purchase Price/2023 Value and Purchase.csv")

print(homevalue2011)
print(homevalue2013)
print(homevalue2015)
print(homevalue2017)
print(homevalue2019)
print(homevalue2021)
print(homevalue2023)

           Characteristics Estimate
0                    Total   76,053
1                      NaN      NaN
2                    Value      NaN
3                      NaN      NaN
4        Less than $10,000    1,536
..                     ...      ...
126                    NaN      NaN
127  First home ever owned   31,828
128         Not first home   42,917
129           Not reported    1,307
130                    NaN      NaN

[131 rows x 2 columns]
           Characteristics Estimate
0                    Total   75,650
1                      NaN      NaN
2                    Value      NaN
3                      NaN      NaN
4        Less than $10,000    1,672
..                     ...      ...
126                    NaN      NaN
127  First home ever owned   31,588
128         Not first home   42,520
129           Not reported    1,542
130                    NaN      NaN

[131 rows x 2 columns]
                                  Characteristics Estimate
0                                           Total   74,299
1                                             NaN      NaN
2                                           Value      NaN
3                                             NaN      NaN
4                               Less than $10,000    1,597
..                                            ...      ...
118                                    Lead Pipes      NaN
119                                           NaN      NaN
120      Pipes inspected for lead before purchase   22,733
121  Pipes not inspected for lead before purchase   45,179
122                                  Not reported    6,386

[123 rows x 2 columns]
                                  Characteristics Estimate
0                                           Total   77,567
1                                             NaN      NaN
2                                           Value      NaN
3                                             NaN      NaN
4                               Less than $10,000    1,693
..                                            ...      ...
119                                    Lead Pipes      NaN
120                                           NaN      NaN
121      Pipes inspected for lead before purchase   26,689
122  Pipes not inspected for lead before purchase   45,337
123                                  Not reported    5,541

[124 rows x 2 columns]
                                  Characteristics Estimate
0                                           Total   79,475
1                                             NaN      NaN
2                                           Value      NaN
3                                             NaN      NaN
4                               Less than $10,000    1,164
..                                            ...      ...
123                                    Lead Pipes      NaN
124                                           NaN      NaN
125      Pipes inspected for lead before purchase   29,788
126  Pipes not inspected for lead before purchase   46,175
127                                  Not reported    3,513

[128 rows x 2 columns]

                                  Characteristics Estimate
0                                           Total   86,853
1                                             NaN      NaN
2                                           Value      NaN
3                                             NaN      NaN
4                               Less than $40,000    2,745
..                                            ...      ...
105                                    Lead Pipes      NaN
106                                           NaN      NaN
107      Pipes inspected for lead before purchase   35,232
108  Pipes not inspected for lead before purchase   48,297
109                                  Not reported    3,324

[110 rows x 2 columns]